body {
  min-width: 280px;
  max-width: 400px;
  font-family: Verdana, Arial, sans-serif;
}

#content-div {
  margin: 2px;
  background: #142e24;
  border-radius: 5px;
  color: #f3503b;
}

#search-sort {
  display: flex;
  flex-direction: row;
}

#search-text-div {
  flex-grow: 1;
  background: white;
  display: flex;
  border-radius: 10px;
}

#search-text-input {
  border: 0;
  flex-grow: 1;
  margin-right: 4px;
}

#search-text-input:focus {
  outline: none;
}

.custom-btn {
  background: #f3503b;;
  color: white;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.custom-btn:hover {
  filter: brightness(1.4);
}

.custom-btn:active {
  background: #f12106;
}

#bookmarks-list {
  margin-top: 5px;
  border: 2px solid #f3503b;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
}

#no-bm-msg {
  text-align: center;
  font-weight: 600;
  font-size: smaller;
}

.bm-cards {
  background-color: #316d7c;
  color: white
}