/* General CSS */
body {
  width: 300px;
  height: 400px;
  font-family: Verdana, Arial, sans-serif;
  padding: 2px;
  overflow: hidden;
}

#content-div {
  background: #142e24;
  border-radius: 5px;
  color: #f3503b;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content-header {
  text-align: center;
  font-weight: 900;
}

/* Custom Classes */
.custom-btn {
  background: #f3503b;
  color: white;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.custom-btn:hover {
  filter: brightness(1.3);
}

.custom-btn:active {
  background: #f12106;
}

.pointer {
  cursor: pointer;
}

.content-panes {
  flex: 1;
}

.bm-cards {
  background-color: #436859;
  color: white;
  padding: 5px;
  border-radius: 5px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Component CSS */
#pane-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#search-sort {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#search-text-div {
  flex-grow: 1;
  background: white;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

#search-text-input {
  border: 0;
  flex-grow: 1;
  font-size: 12px;
}

#search-text-input:focus {
  outline: none;
}

#bookmarks-list {
  border: 2px solid #f3503b;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

#no-bm-msg {
  text-align: center;
  font-weight: 600;
  font-size: smaller;
}

#utility-buttons {
  display: flex;
  gap: 4px;
  width: 100%;
  flex-shrink: 3;
}

#bm-import-export,
#bm-sync-git {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
